
.rowDiv{
    /* border-style: dashed; */
    height: 350px;
    width: 300px;
    background-color: #C4C4C4;
    margin: 50px;
    padding-top: 1.5%;
}
.rowDiv1{
    /* border-style: dashed; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 72.7%;
    margin-top: 90px;
    /* height:20px;*/
    width: 20%;
}
.first{
      /* border-style: dashed; */
      width: 65%;
      font-size: 15px;
      color: #333;
      font-family: "Libre Franklin";
      /* font-weight: normal; */
      margin-left: 7%;
      margin-top: 12.5%;
}
.second{
  /* border-style: dashed; */
  width: 85%;
  font-size: 15px;
  font-family: "Libre Franklin";
  color: #505050;
  font-weight: normal;
  margin-left: 7%;
  text-align: justify;
}


@media (max-width: 700px) {  
    div.rowDiv{
      width: 80%;
      /* border-style: dashed; */
      
    }
    .first{
        font-size: 20px;
        justify-content: left;
  }
  .second{
    font-size: 18px; 
 }
 .rowDiv1{
    /* border-style: dashed; */
    /* margin-left: 72.7%; */
    margin-top: 60px;
    }
    }



